@using CBSS.Web


@{
    ViewBag.Title = "市场书籍管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #tree {
        overflow: auto;
        background-color: #eee;
    }
    #tree ul {
        padding: 0;
        margin: 0;
    }
    #catalogs a{cursor:pointer;}
</style>

<div style="width:13%; float:left;  position:fixed;">
    <div id="tree">
    </div>
</div>

<div style="width:82%;   float:right;">
    <div class="row-fluid" style="margin-bottom:20px;">
        <div class="span4">
            <div>
                @*<a class="btn red" id="delete" href="javascript:;"><i class="icon-trash icon-white"></i> 删除</a>*@
                @if (ViewBag.Add)
                {
                    <a class="btn green thickbox" title='添加书籍' href="@Url.Action("Create")?TB_iframe=true&height=720&width=800">添加书籍 <i class="icon-plus icon-white"></i></a>
                }
                @if (ViewBag.MarketBook_SyncModBook)
                {
                    <button onclick="LoadMODBook()" type="button" class="btn red">同步MOD书籍 </button>
                }
            </div>
        </div>
    </div>
    <table id="tb_marketbook" class="table table-striped table-hover "></table>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="panel-body" style="padding-bottom:0px;">
            <table id="tb_classifies"></table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
    </div>
    <div class="modal fade" id="catalog" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:1000px; margin-left:-500px;">
        <div class="panel-body" style="padding-bottom:0px;">
            <div style="    padding: 5px 0px 0px 5px;">
                <button class="btn green" onclick="Edit()" type="button"> 新增目录 <i class="icon-plus icon-white"></i></button>
            </div>
            <table id="catalogs"></table>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="LoadCatalog()" class="btn btn-default">同步MOD目录</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
    </div>

</div>

<div class="modal fade" id="editCatalog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <div class="modal-title" id="myModalLabel">目录图片</div>
            </div>
            <div class="modal-body">
                <div class="row row1">
                    <div class="col-lg-12" style="padding-left:30px; padding-top:22px;">
                        <form action="@Url.Action("Submit")" class="form-horizontal" role="form" id="formEdit">
                            <label class="col-lg-3" style="text-align:right;float:left;">图片路径：</label>
                            <input type="hidden" id="MarketBookCatalogID"   />
                            <div class="form-group">
                                <div class="col-lg-8">
                                    <input class="m-wrap small" style="width:520px !important; padding:2px;" name="MarketBookCatalogCover" id="MarketBookCatalogCover"  />
                                </div>
                            </div>
                            <div id="OssUploadControl">
                                <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>
                                <br />
                                <div id="container" style="border:0px;">
                                    <a id="selectfiles" href="javascript:void(0);" class='btn'>选择文件</a>
                                    <a id="postfiles" href="javascript:void(0);" class='btn'>开始上传</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="UpdateCataCover()" class="btn btn-primary" id="btn_editSave">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="serverUrl" value="@Url.Action("GetClassifiesJson","MarketClassify")" />
<input type="hidden" id="getClassify" value="@Url.Action("GetClassfiy","MarketClassify")" />
<input type="hidden" id="delUrl" value="@Url.Action("DeleteClassify","MarketClassify")" />
<input type="hidden" id="getFullName" value="@Url.Action("GetFullName","MarketClassify")" />

<input type="hidden" id="serverUrl2" value="@Url.Action("GetCatalogsByBookId", "MarketBookCatalog")" />
<input type="hidden" id="serverUrl3" value="@Url.Action("GetCatalogsJson", "MarketBookCatalog")" />
<input type="hidden" id="updateCata" value="@Url.Action("UpdateCatalogStatus", "MarketBookCatalog")" />
<input type="hidden" id="getClassify2" value="@Url.Action("GetCatalog","MarketBookCatalog")" />
<input type="hidden" id="delUrl2" value="@Url.Action("DeleteMarketBookCatalog", "MarketBookCatalog")" />
<input type="hidden" id="MarketClassifyId" value="0" />

<link href="@Url.StaticFile("/assets/aliyunupload/OssUploadControl.css")" rel="stylesheet" />
@section PageSpecificJavascriptIncludes{
    <script src="@Url.StaticFile("~/Content/Scripts/bootstrap-table-develop/src/bootstrap-table.js")"></script>
    <script src="@Url.StaticFile("~/Content/Scripts/bootstrap-table-develop/src/locale/bootstrap-table-zh-CN.js")"></script>
    <script src="@Url.StaticFile("/Assets/pages/MarketClassifySelectForBookList.js")"></script>
    <script src="@Url.StaticFile("/Assets/pages/MarketBookCatalog.js")"></script>
    <script src="@Url.StaticFile("/Assets/pages/MarketBook.js?v=1.2")"></script>

    <link href="~/Content/Scripts/bootstrap-table-develop/src/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Assets/bootstrap-tree/tree.css" rel="stylesheet" />
    <script src="~/Assets/bootstrap-tree/bootstrap-treeview.js"></script>
    <script src="@Url.StaticFile("/assets/aliyunupload/lib/crypto1/crypto/crypto.js")"></script>
    <script src="@Url.StaticFile("/assets/aliyunupload/lib/crypto1/hmac/hmac.js")"></script>
    <script src="@Url.StaticFile("/assets/aliyunupload/lib/crypto1/sha1/sha1.js")"></script>
    <script src="@Url.StaticFile("/assets/aliyunupload/plupload.js")"></script>
    <script src="@Url.StaticFile("/assets/aliyunupload/catalogupload.js")"></script>
    <script type="text/javascript">
        $(function () {
            $(window).on("load resize", function () {
                var topOffset = 200;

                var height = ((this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height) - 1;
                height = height - topOffset;
                if (height < 1) height = 1;
                if (height > topOffset) {
                    $("#tree").css("height", (height) + "px");
                }
            });

            var edit = '@ViewBag.Edit';
            var del = '@ViewBag.Del';
            var MarketBook_Catalogs = '@ViewBag.MarketBook_Catalogs';
            LoadTreeMarketClassify();
            var oTable = new MarketBookTableInit();
            oTable.Init(edit, del, MarketBook_Catalogs);
            marketTableInit.Init();
        });
        function DelBook(ModelID) {
            bootbox.confirm("确定删除？", function (del) {
                if (del) {
                    $.post("@Url.Action("Delete")", { id: ModelID }, function (data) {
                        if (data.Success) {
                            $('#tb_marketbook').bootstrapTable('selectPage', 1);
                        } else {
                            bootbox.alert(data.ErrorMsg);
                        }
                    });
                }
            });
        }

        function Classifies() {
            $("#editModal").modal();
            oTableInit.Init();
        }

        var localMarketBookID = 0;

        function Catalogs(marketBookID) {
            localMarketBookID = marketBookID;
            $("#serverUrl2").val("@Url.Action("GetCatalogsByBookId", "MarketBookCatalog")" + "?marketBookID=" + marketBookID + "&loadModCata=" + false);
            $('#catalogs').bootstrapTable("destroy");
            $("#catalog").modal();
            oTableInit2.Init();
        }
        function LoadCatalog() {
            $("#serverUrl2").val("@Url.Action("GetCatalogsByBookId", "MarketBookCatalog")" + "?marketBookID=" + localMarketBookID + "&loadModCata=" + true);
            $('#catalogs').bootstrapTable("destroy");
            $("#catalog").modal();
            oTableInit2.Init();
         }
        function Submit() {
            var url = "@Url.Action("Index")";
            window.location.href = url + "?MarketBookName=" + $("#MarketBookName").val() + "&MarketClassifyId=" + $("#MarketClassifyId").val() + "&MarketClassifyName=" + $("#MarketClassifyName").val();
        }
        function SubmitSelect(MarketBookName, MarketClassifyID, MarketClassifyName) {
            var url = "@Url.Action("Index")";
            window.location.href = url + "?MarketBookName=" + MarketBookName + "&MarketClassifyId=" + MarketClassifyID + "&MarketClassifyName=" + MarketClassifyName;
        }

        function ClearSearch() {
            var url = "@Url.Action("Index")";
            window.location.href = url;
        }

        function LoadMODBook() {
            bootbox.alert("正在同步中,请勿执行其他操作");
            $.post("@Url.Action("GetClassifiesAndBooks", "MarketClassify")", {}, function (data) {
                bootbox.hideAll();
                if (data.Success) {
                    bootbox.alert("同步完成");
                } else {
                    bootbox.alert("同步失败");
                }
            });
        }

        function UpdateCataCover() {
            $.post("@Url.Action("UpdateCatalogCover", "MarketBookCatalog")", { catalogId: $("#MarketBookCatalogID").val(), coverUrl: $("#MarketBookCatalogCover").val() }, function (data) {
                if (data.Success) {
                    bootbox.alert("操作成功");
                    $('#catalogs').bootstrapTable("refresh");
                    $("#editCatalog").modal("hide");
                } else {
                    bootbox.alert(data.ErrorMsg);
                }
            });
        }
    </script>
}

