@using FxtDataAcquisition.Domain.Models
@using FxtDataAcquisition.Common;
@model FieldTemplet
@{
    ViewBag.Title = "字段信息";
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <meta charset="utf-8" />
    @*设置浏览器IE文本模式为最高版本*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>无纸化住宅物业信息采集系统</title>
    <meta name="keywords" content="无纸化住宅物业信息采集系统" />
    <meta name="description" content="无纸化住宅物业信息采集系统" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="/bootstrap/ace1.2/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/bootstrap/ace1.2/assets/css/font-awesome.min.css" />
    <!--[if IE 7]>
      <link rel="stylesheet" href="/bootstrap/ace1.2/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->
    @*<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />*@
    <!-- ace styles -->
    <link rel="stylesheet" href="/bootstrap/ace1.2/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/bootstrap/ace1.2/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/bootstrap/ace1.2/assets/css/ace-skins.min.css" />
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/bootstrap/ace1.2/assets/css/ace-ie.min.css" />
    <![endif]-->
    @*fancybox弹出框效果start*@
    <link href="/Scripts/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" type="text/css" rel="Stylesheet" />
    @*下拉框效果插件*@
    <link rel="stylesheet" href="/bootstrap/ace1.2/assets/css/chosen.css" />
    <link href="/Css/DepartmentInfo/SetDepartment.css" type="text/css" rel="Stylesheet" />
    @*fancybox弹出框效果end*@
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="/bootstrap/ace1.2/assets/js/ace-extra.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/bootstrap/ace1.2/assets/js/html5shiv.js"></script>
    <script src="/bootstrap/ace1.2/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>*@
    <!-- <![endif]-->
    <!--[if IE]>
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
    <![endif]-->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/bootstrap/ace1.2/assets/js/jquery-1.10.2.min.js'>" + "<" + "script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/bootstrap/ace1.2/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/bootstrap/ace1.2/assets/js/jquery.mobile.custom.min.js'>" + "<" + "script>");
    </script>
    <script type="text/javascript" src="/Scripts/jquery-migrate-1.1.1.js"></script>
    <script src="/bootstrap/ace1.2/assets/js/bootstrap.min.js"></script>
    <script src="/bootstrap/ace1.2/assets/js/typeahead-bs2.min.js"></script>
    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="/bootstrap/ace1.2/assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="/bootstrap/ace1.2/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/bootstrap/ace1.2/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/bootstrap/ace1.2/assets/js/jquery.slimscroll.min.js"></script>
    @*饼图*@
    <script src="/bootstrap/ace1.2/assets/js/jquery.easy-pie-chart.min.js"></script>
    @*走势图*@
    <script src="/bootstrap/ace1.2/assets/js/jquery.sparkline.min.js"></script>
    <!-- ace scripts -->
    <script src="/bootstrap/ace1.2/assets/js/ace-elements.min.js"></script>
    <script src="/bootstrap/ace1.2/assets/js/ace.min.js"></script>
    <script src="/bootstrap/bootstrap-paginator/bootstrap-paginator-1.0.2.js" type="text/javascript"></script>
    @*下拉框效果插件*@
    <script src="/bootstrap/ace1.2/assets/js/chosen.jquery.min.js"></script>
    @*fancybox弹出框效果start*@
    <script src="/Scripts/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.js" type="text/javascript"></script>
    @*fancybox动画效果(可选)*@
    <script src="/Scripts/jquery.fancybox-1.3.4/fancybox/jquery.easing-1.3.pack.js" type="text/javascript"></script>
    @*fancybox鼠标滚轮滚动效果(可选)*@
    <script src="/Scripts/jquery.fancybox-1.3.4/fancybox/jquery.mousewheel-3.0.4.pack.js" type="text/javascript"></script>
    @*fancybox弹出框效果end*@
    @*loadShow效果start*@
    <script src="/Scripts/jquery.blockUI.1.33/jquery.blockUI-1.33.js" type="text/javascript"></script>
    @*loadShow效果end*@
    <script src="/Scripts/Common/UrlCommon.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.extend.js" type="text/javascript"></script>
    <script src="/Scripts/Common/Common.js" type="text/javascript"></script>
    @*<script src="/Scripts/DepartmentInfo/SetDepartment.js" type="text/javascript"></script>*@
</head>
<body>
    <div class="page-content" style="padding-bottom:0px;">
        <div class="page-header">
            <h1>
                字段信息
            </h1>
        </div><!-- /.page-header -->
        <div class="row">
            <div class="tab-content" id="SubmitPanel">
            @*<div class="col-xs-12" id="SubmitPanel">*@
                <!-- PAGE CONTENT BEGINS -->
                <form class="form-horizontal" role="form">
                    <input type="hidden" id="FieldTempletId" name="id" value="@Model.FieldTempletId" />
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                        <tr>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">字段名
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <input type="text" name="FieldName" id="FieldName" value="@Model.FieldName" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">
                                        标题
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <input type="text" name="Title" id="Title" value="@Model.Title" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">
                                        数据类型
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <select id="datType" name="DatType">
                                            <option value="0">---类型--</option>
                                            <option @if (Model.DatType == SYSCodeManager.DATATYPECODE_1) {  @("selected='selected'")} value="@SYSCodeManager.DATATYPECODE_1">楼盘</option>
                                            <option @if (Model.DatType == SYSCodeManager.DATATYPECODE_2) {  @("selected='selected'")} value="@SYSCodeManager.DATATYPECODE_2">楼栋</option>
                                            <option @if (Model.DatType == SYSCodeManager.DATATYPECODE_4) {  @("selected='selected'")} value="@SYSCodeManager.DATATYPECODE_4">房号</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">
                                        排序
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <input type="text" name="Sort" id="Sort" value="@Model.Sort" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">
                                        控件类型
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <select id="Type" name="Type">
                                    <option value="">---请选择--</option>
                                    <option  @if (Model.Type == "E") { @("selected='selected'")} value="E">文本框</option>
                                    <option  @if (Model.Type == "T") { @("selected='selected'")} value="T">多行文本</option>
                                    <option  @if (Model.Type == "R") { @("selected='selected'")} value="R">单选</option>
                                    <option  @if (Model.Type == "C") { @("selected='selected'")} value="C">多选</option>
                                    <option  @if (Model.Type == "DT") { @("selected='selected'")} value="DT">日期选择框</option>
                                </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">
                                        默认值
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <input type="text" name="MaxLength" id="MaxLength" value="@Model.DefaultValue" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">
                                        字段长度
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <input type="text" name="MaxLength" id="MaxLength" value="@Model.MaxLength" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">
                                        是否必填
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <select id="IsRequire" name="IsRequire">
                                    <option value="">---请选择--</option>
                                    <option @if (Model.IsRequire == 1) {  @("selected='selected'")} value="1">是</option>
                                    <option @if (Model.IsRequire == 0) {  @("selected='selected'")} value="0">否</option>
                                </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">
                                        值类型
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <select id="EdiTextType" name="EdiTextType">
                                    <option value="">---请选择--</option>
                                    <option @if (Model.EdiTextType == 0) {  @("selected='selected'")} value="0">string</option>
                                    <option @if (Model.EdiTextType == 1) {  @("selected='selected'")} value="1">int</option>
                                    <option @if (Model.EdiTextType == 2) {  @("selected='selected'")} value="2">decimal</option>
                                    <option @if (Model.EdiTextType == 3) {  @("selected='selected'")} value="3">datetime</option>
                                </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">
                                        是否必选
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <select id="IsSelect" name="IsSelect">
                                    <option value="">---请选择--</option>
                                    <option @if (Model.IsSelect == 0) {  @("selected='selected'")} value="0">否</option>
                                    <option @if (Model.IsSelect == 1) {  @("selected='selected'")} value="1">是</option>
                                </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group diy_form-group">
                                    <label class="col-sm-3  no-padding-right diy_fromlabel">
                                        选项值
                                    </label>
                                    <div class="col-sm-9 diy_fromdiv">
                                        <textarea rows="10" cols="60" id="Choise" name="Choise">@Model.Choise</textarea>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="alert alert-danger diy_alert-danger" style="display:none;" id="errorAlert">
                        系统异常
                    </div>
                    <div class="clearfix form-actions diy_form-actions">
                        <div class="col-md-offset-3 col-md-9 col-sm-3" style="float:left;">
                            <input class="btn btn-info" type="button" value="提交" id="btnSubmit" />
                            <i class="icon-ok btn-lg" style="float:right; display:none;" id="alert_success">提交成功</i>
                        </div>
                    </div>
                </form>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {

        $("#btnSubmit").click(function (d) {

            var name = $("#FieldName").val();

            var type = $("#datType").val();

            var sort = $("#Sort").val();

            if (!name) {

                alert("请填写字段名称！");

                return false;
            }

            if (!type) {

                alert("请选择分组类型！");

                return false;
            }

            if (!VeriInt(sort)) {
                alert("排序必须为整数");
                return false;
            }

            if (!sort) {

                alert("请填写排序！");

                return false;
            }

            //异步提交数据
            var paraJson = $("form").serializeArray();

            $.extendAjax(

                    {
                        url: "/FieldTemplet/Create",

                        data: paraJson,

                        type: "post",

                        dataType: "json"

                    },

                    function (data) {

                        if (data.result) {

                            alert(data.message);

                            parent.FieldTempletManager.EditResponse(data.data, $("#FieldTempletId").val(), name, type);

                        } else {

                            alert(data.message);
                        }
                    },

                   { dom: "#SubmitPanel" });
        })
    })

    /*****验证整数数据格式******/
    function VeriInt(val) {
        if (val != null && val != "") {
            var patrn = /^\d+$/;

            if (!patrn.exec(val)) {
                return false;
            }
        }
        return true;
    }
</script>
