@{
    ViewBag.Title = "办公楼栋自定义导出";
}
@using FXT.DataCenter.Domain.Models
@using Webdiyer.WebControls.Mvc
@model PagedList<DatBuildingOffice>
@section StyleSheet{
    <style type="text/css">
        select
        {
            margin: 1px;
            width: 150px;
        }
    </style>
}
@section Javascript{
    <script type="text/javascript">
        var UrlExport = '@Url.Action("Export")';

        $(document).ready(function () {
            //面包屑导航
            $("#navigation .breadcrumb li:eq(1)").remove();
            $("#navigation .breadcrumb li:eq(2)").remove();
            var html = " <li><span><a href='/Office/OfficeProject/Index'>办公基础数据</a></span> <i class='icon-angle-right'></i></li>";
            html += " <li><span>办公楼栋自定义导出</span></li>";
            $("ul.breadcrumb").append(html);
            
            //全选联动
            $("input[name=building]").live("click", function () {
                var flag = true;
                $("input[name=building]").each(function () {
                    flag = flag && $(this).prop("checked");
                });
                $("#all_building").prop("checked", flag);
                $.uniform.update();
            });

            //导出
            $("#btnBuilding").bind("click", function () {
                var flag = 0;
                $("input[name=building]").each(function () {
                    flag += $(this).prop("checked");
                });
                if (flag == 0) {
                    $("#all_building").prop("checked", true);
                    $("input[name=building]").each(function () {
                        $(this).prop("checked", true);
                    });
                    $.uniform.update();
                }
            });
        });

        function showData() {
            var value = $("#buildingTable").css("display");
            if (value == "block") {
                $("#buildingTable").css("display", "none");
                $("#showAll").html("展开∨");
            }
            else {
                $("#buildingTable").css("display", "block");
                $("#showAll").html("收起∧");
            }
        }

        function selectAll() {
            var flag = $("#all_building").prop("checked");
            $("input[name=building]").each(function () {
                $(this).prop("checked", flag);
            });
            $.uniform.update();
        }

    </script>
    @{Html.RegisterMvcPagerScriptResource();}
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm" }))
{
    <div class="row-fluid" id="condi">
        <table style="margin-bottom: 10px; line-height: 35px; width: 75%;">
            <tr>
                <td>具体楼盘:
                </td>
                <td colspan="3">
                    @Html.TextBox("projectName", Request["projectName"], new { @style = "width: 138px;" })
                </td>
            </tr>
            <tr>
                <td>具体楼栋:
                </td>
                <td>
                    @Html.TextBox("BuildingName", null, new { @style = "width:138px;" })
                </td>
                <td>别名:
                </td>
                <td>
                    @Html.TextBox("OtherName", null, new { @style = "width:138px;" })
                </td>
            </tr>
            <tr>
                <td>等级:
                </td>
                <td>
                    @Html.DropDownList("OfficeType", ViewBag.OfficeTypeName as List<SelectListItem>)
                </td>
                <td>用途:
                </td>
                <td>
                    @Html.DropDownList("PurposeCode", ViewBag.PurposeName as List<SelectListItem>)
                </td>
            </tr>
            <tr>
                <td>建筑结构：
                </td>
                <td>
                    @Html.DropDownList("StructureCode", ViewBag.StructureName as List<SelectListItem>)
                </td>
                <td>建筑类型：
                </td>
                <td>
                    @Html.DropDownList("BuildingTypeCode", ViewBag.BuildingTypeName as List<SelectListItem>)
                </td>
            </tr>
            <tr>
                <td>租售方式：
                </td>
                <td colspan="3">
                    @Html.DropDownList("RentSaleType", ViewBag.RentSaleTypeName as List<SelectListItem>)
                </td>
            </tr>
        </table>
    </div>
    <div>
        <input type="checkbox" name="all_building" id="all_building" value="all_building" onclick="selectAll()" /><b>全选</b>
        <a style="cursor: pointer;" id="showAll" href="javascript:showData();">收起∧</a>
    </div>
    <table id="buildingTable" style="display: block;">
        <tr>
            <td>
                <label>
                    <input type="checkbox" name="building" value="AreaName&行政区" />行政区</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="ProjectName&办公楼盘" />办公楼盘</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="BuildingName&办公楼栋" />办公楼栋</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="OtherName&楼栋别名" />楼栋别名</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="OfficeTypeName&等级" />等级</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="PurposeCodeName&用途" />用途</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="StructureCodeName&建筑结构" />建筑结构</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="BuildingTypeCodeName&建筑类型" />建筑类型</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox" name="building" value="TotalFloor&总楼层" />总楼层</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="TotalHigh&总高度" />总高度</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="BuildingArea&总建筑面积_平方米" />总建筑面积(㎡)</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="EndDate&竣工日期" />竣工日期</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="SaleDate&销售日期" />销售日期</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="RentSaleTypeName&租售方式" />租售方式</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="OfficeArea&办公面积_平方米" />办公面积(㎡)</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="OfficeFloor&办公总层数" />办公总层数</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox" name="building" value="PodiumBuildingNum&裙楼层数" />裙楼层数</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="BasementNum&地下室层数" />地下室层数</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="Functional&功能分布" />功能分布</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="LobbyArea&大堂面积_平方米" />大堂面积(㎡)</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="LobbyHigh&大堂层高" />大堂层高</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="LobbyFitmentName&大堂装修" />大堂装修</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="LiftNum&客梯数量" />客梯数量</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="LiftFitmentName&客梯装修" />客梯装修</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox" name="building" value="LiftBrand&电梯品牌" />电梯品牌</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="ToiletBrand&卫浴品牌" />卫浴品牌</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="PublicFitmentName&公共区域装修" />公共区域装修</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="WallFitmentName&外墙装修" />外墙装修</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="FloorHigh&标准层层高" />标准层层高</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="Remarks&备注" />备注</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="X&X坐标" />X坐标</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="Y&Y坐标" />Y坐标</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox" name="building" value="AveragePrice&楼栋均价_元每平方米" />楼栋均价(元/㎡)</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="PriceDetail&价格系数说明" />价格系数说明</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" name="building" value="Weight&价格系数" />价格系数
                </label>
            </td>
        </tr>
    </table>
    <br />
    <div>
        <input class="btn" id="btnBuilding" type="submit" value="导出" />
    </div>
}
