@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutHome.cshtml";
}
@section cssLink{
    <link href="~/Content/bootstrap-table-develop/src/bootstrap-table.css" rel="stylesheet" />
}
@section mainContent{
    <div class="col-lg-12">
        <h1 class="page-header">首页</h1>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body" style="padding-bottom:0px;">
                <div class="col-sm-12" style="margin-top:80px; margin-left:-15px;">
                    @{
                        KSWF.WFM.Constract.Models.OrdreTotal ordertotal = ViewBag.Total;
                    }
                    <div class="col-sm-4" style="text-align:center; border-right:2px solid #e9ecf1;">
                        <p style=" font-size:38px; ">@Convert.ToDecimal(ordertotal.o_payamount).ToString("0.00") </p>
                        <p style=" font-size:24px;">最近一月销售额</p>
                    </div>
                    <div class="col-sm-4" style="text-align:center; border-right:2px solid #e9ecf1;">
                        <p style=" font-size:38px; ">@ordertotal.o_number </p>
                        <p style=" font-size:24px;">最近一月订单数</p>
                    </div>
                    <div class="col-sm-4" style="text-align:center;">
                        <p style=" font-size:38px; ">@Convert.ToDecimal(ordertotal.o_bonus).ToString("0.00") </p>
                        <p style=" font-size:24px;">最近一月提成金额</p>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div id="container" style="min-width:400px;height:400px"></div>
            </div>
        </div>
        <script src="~/Scripts/highcharts/jquery-1.8.3.min.js"></script>
        <script src="~/Scripts/highcharts/highcharts.js"></script>
        <script src="~/Scripts/highcharts/highmaps.js"></script>
        <script src="~/Scripts/highcharts/highstock.js"></script>
        <input type="hidden" value="@ViewBag.number" id="ordernumber" />
        <input type="hidden" value="@ViewBag.times" id="times" />
        <script>
            var arraytimes = $("#times").val().split(',');
            var arrayordernumber = $("#ordernumber").val().split(',');
            var JsonSeries;
            var json = "[{name:'销售订单数',data:[" + arrayordernumber + "]}]";
            eval("JsonSeries=" + json);
            var series = [{
                name: '近一月销售订单数',
                data: arrayordernumber
            }];
            var chart = new Highcharts.Chart('container', {
                credits: {
                    enabled: false,
                },
                title: {
                    text: '',
                    x: -20
                },
                xAxis: {
                    categories: arraytimes
                },
                yAxis: {
                    title: {
                        text: '订单数'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                series: JsonSeries
            });
        </script>
    </div>
}

@section jsSrc{
}

