@{
    ViewBag.Title = "编辑楼房项目附属价格";
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@using FXT.DataCenter.Domain.Models
@model DAT_SubHousePrice
@section PageSpecificStyleSheetIncludes{

    <style type="text/css">
        select
        {
            margin: 1px;
            width: 150px;
        }
        .p5
        {
            padding: 0px;
            padding-top: 5px;
            line-height: 200%;
            background: #fbfbfb;
        }
        .p5 label
        {
            width: 100px;
        }
        .p5 select
        {
            width: 133px;
        }
        #hourslider
        {
            display: inline-block;
            width: 120px;
            margin-top: 10px;
            margin-left: 30px;
        }
        .scrollBar
        {
            width: 100%;
            overflow: scroll;
            overflow-x: scroll;
            overflow-y: hidden;
        }
        tr
        {
            height: 60px;
        }
    </style>
}
@section PageSpecificJavascriptIncludes{
    
    <script type="text/javascript">
        function alertMsg(msg)
        {
            layer.alert(msg);
        }
    </script>
}
@section MainContent{
<div class="row-fluid">
        <table style="width: 100%; margin-bottom: 10px; line-height: 35px;">
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style="color: Red;">*</b>附属房类型:
                </td>
                <td>
                    @{
                    string CodeName=Server.UrlDecode((Model.CodeName));
                    }
                    <input type="text" value="@CodeName" name="CodeName" id="CodeName" class="m-wrap small" readonly="readonly" />
                </td>
            </tr>
            <tr>
             <td>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单价(元/㎡):
                </td>
                <td>@Html.TextBoxFor(m => m.subhouseunitprice, new { @class = "m-wrap small" })
                    @Html.HiddenFor(s => s.id)
                    @Html.HiddenFor(s => s.projectid)
                  @*  @{
               int subhousetype = 0;
               switch (Model.CodeName)
               {
                   case "地下室":
                       subhousetype = 1015001;
                       break;
                   case "杂物间":
                       subhousetype = 1015002;
                       break;
                   case "车库":
                       subhousetype = 1015003;
                       break;
                   case "摩托车库":
                       subhousetype = 1015004;
                       break;
                   case "下房":
                       subhousetype = 1015005;
                       break;
                   case "储藏室":
                       subhousetype = 1015006;
                       break;
                   case "阁楼":
                       subhousetype = 1015007;
                       break;
                   case "厦子":
                       subhousetype = 1015008;
                       break;
                   case "附房":
                       subhousetype = 1015009;
                       break;
                   case "夹层":
                       subhousetype = 1015010;
                       break;
                   case "地下车库":
                       subhousetype = 1015011;
                       break;
                   default:
                       subhousetype = 0;
                       break;
               }
                    }*@
                   <input type="hidden" value="@Model.Code" id="Code" name="Code" />
                   <input type="hidden" value="@ViewBag.projectid" id="projectid" name="projectid" />
                </td>
            </tr>
        </table>
</div>
    }
