@{
    ViewBag.Title = "楼盘项目图片";
}
@using Webdiyer.WebControls.Mvc
@model PagedList<FXT.DataCenter.Domain.Models.FxtProject.LNK_P_Photo>
@section StyleSheet{
    <style type="text/css">
        select {
            margin: 1px;
            width: 150px;
        }

        .p5 {
            padding: 0px;
            padding-top: 5px;
            line-height: 200%;
            background: #fbfbfb;
        }

            .p5 label {
                width: 100px;
            }

            .p5 select {
                width: 133px;
            }

        #hourslider {
            display: inline-block;
            width: 120px;
            margin-top: 10px;
            margin-left: 30px;
        }

        .scrollBar {
            width: 100%;
            overflow: scroll;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        #divCenter {
            position: fixed;
            _position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            margin: -141px 0 0 -201px;
            border: 1px solid #CCC;
            line-height: 280px;
            text-align: center;
            font-size: 14px;
            background-color: #F4F4F4;
            overflow: hidden;
            display: none;
        }
    </style>
}
@section Javascript{
    <script type="text/javascript">
        $(function () {
            var locationHref = window.location.href, projectName = "@(ViewBag.projectName)";
            if (locationHref.indexOf("House/Project/ProjectPhoto")) {
                $("#navigation .breadcrumb li:eq(1)").remove();
                $("#navigation .breadcrumb li:eq(2)").remove();
                var html = " <li><span><a href=\"/House/Project/Index\">住宅基础数据</a></span> <i class=\"icon-angle-right\"></i></li>";
                if (projectName) {
                    html += "<li><span><a href=\"/House/Project/Edity?projectid=" + encodeURIComponent("@ViewBag.projectPara") + "\">" + projectName + "</span></a><i class=\"icon-angle-right\"></i></li>";
                }
                html += "<li><span>项目图片</span></li>";
                $("ul.breadcrumb").append(html);
            }

            $("#btnRefresh").on("click", function () {
                location.reload();
            });

            //checkbox联动全选
            $("input[name=ids]").bind("click", function () {
                var flag = true;
                $("input[name=ids]").each(function () {
                    flag = flag && $(this).prop("checked");
                });
                $("#checkall").prop("checked", flag);
                $.uniform.update();
            });

            //删除
            $("#delete").unbind();
            $("#delete").click(function () {
                var ids = [];
                var checks = $("input[name='ids']:checked");
                if (checks.length == 0) {
                    alert("请选择要删除的数据");
                    return;
                }
                if (confirm("是否确定删除？")) {
                    checks.each(function () {
                        ids.push($(this).val());
                    });
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DeletePhoto")',
                        data: { ids: ids },
                        traditional: true,
                        success: function (data) {
                            if (data.result) {
                                if (data.msg != "") {
                                    alert(data.msg);
                                }
                                location.reload();
                            } else {
                                alert(data.msg);
                            }
                        }
                    });
                }

            });
        });

        var isoss = "@(ViewBag.IsOss)";
        function picBig(phoPath) {
            var v = document.getElementById('divCenter');
            v.style.display = "block";
            var picBigImg = document.getElementById("picBigImg");
            picBigImg.src = (isoss.toUpperCase() == "TRUE" ? phoPath + "@@400w_500h" : phoPath);
        }

        function picClose() {
            var v = document.getElementById('divCenter');
            v.style.display = "none";
            var picBigImg = document.getElementById("picBigImg");
            picBigImg.src = "/Content/Images/no_picture.jpg";
        }
    </script>
    @{Html.RegisterMvcPagerScriptResource();}
}
<div class="row-fluid" style="margin-bottom: 10px;">
    <a class="btn blue thickbox" title='批量添加图片' href="@Url.Action("BatchAddPicture", new { projectId = ViewBag.projectid, photoId = 0 })TB_iframe=true&height=400&width=900">
        <i class="icon-plus icon-white"></i>新增
    </a>
    <button class="btn red" type="submit" id="delete">
        <i class="icon-trash icon-white"></i>删除
    </button>
    <a class="btn" id="btnRefresh"><i class="icon-refresh"></i>刷新</a>
</div>
<div class="scrollBar">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th style="width: 8px;">
                    <input type="checkbox" id="checkall" class="group-checkable" />
                </th>
                <th>图片名称</th>
                <th>图片</th>
                <th>图片类型</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                var chValue = m.id + "#" + m.projectid + "#" + m.fxtcompanyid;
           
                <tr>
                    <td>
                        <input type="checkbox" class="checkboxes" name='ids' value='@chValue' />
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(m.BuildingName))
                        {
                            <span style="font-weight: bold;">[@m.BuildingName]</span>
                        }
                        @m.photoname;
                    </td>
                    <td>
                        @{
            
                        string path = "/Content/Images/no_picture.jpg", strpath = "";
                        if (Model != null)
                        {
                            if (!string.IsNullOrEmpty(m.path))
                            {
                                if (m.path.Substring(0, 2) == "..")
                                {
                                    strpath = m.path.Substring(2);
                                }
                                else if (m.path.Contains("\\photo\\"))
                                {
                                    strpath = m.path.Replace("\\", "/");
                                }
                                else
                                {
                                    strpath = m.path;
                                }
                            }
                            ////var filePath = Server.MapPath(strpath);
                            ////if (File.Exists(filePath))
                            ////{
                            ////    path = strpath;
                            ////}
                            //path = @ViewBag.OssImgServer + strpath;
                            path = @ViewBag.IsOss ? @ViewBag.OssImgServer + strpath : (File.Exists(Server.MapPath(strpath)) ? strpath : "");
                        }
                        }
                        @*<img src="@(path)" width="100" height="100" id="path" name="path" alt="项目图片"/>*@
                        <a href='javascript:void(0);' onclick='picBig("@(path)");'>
                            <img src="@(path)" width="100" height="100" id="path" name="path" alt="项目图片"/></a>
                    </td>
                    <td>
                        @m.PhotoTypeCodeName
                    </td>
                    <td>
                        <a class="btn mini purple thickbox" title='编辑楼盘项目图片' href="@Url.Action("EdityProjectPhoto", new { projectId = ViewBag.projectid, photoId = m.id, temp = 0 })TB_iframe=true&height=400&width=900">
                            <i class="icon-edit"></i>编辑
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="divCenter" onclick="picClose();">
    <img id="picBigImg" style="max-width: 500px; max-height: 500px;" src="/Content/Images/no_picture.jpg" />
</div>
<div class="pager">
    @{
        var totalPageCount = Model == null ? 0 : Model.TotalPageCount;
        var totalItemCount = Model == null ? 0 : Model.TotalItemCount;
        var currentPageIndex = Model == null ? 0 : Model.CurrentPageIndex;
    }
    <div>共 @totalPageCount 页 @totalItemCount 条记录,当前为第 @currentPageIndex 页</div>
    @if (Model != null && Model.Any())
    {
        @Html.Pager(Model, new PagerOptions { AutoHide = false, ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.TextBox })
    }
</div>
