<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>抓取后台维护与管理</title>    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        @*设置浏览器IE文本模式为最高版本*@
    </meta>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/bootstrap/matrix-admin00/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/matrix-admin00/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/bootstrap/matrix-admin00/css/matrix-style.css" />
    <link rel="stylesheet" href="/bootstrap/matrix-admin00/css/matrix-media.css" />
     <link rel="stylesheet" href="/bootstrap/matrix-admin00/css/select2.css" />
    <link href="/bootstrap/matrix-admin00/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/bootstrap/matrix-admin00/css/fonts.googleapis.com_css_family_Open_Sans_400,700,800.css" rel="stylesheet"  type='text/css'>   
     @*fancybox弹出框效果start*@
    <link href="/Scripts/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" type="text/css" rel="Stylesheet" />

    <link href="/Css/OperationMaintenance/CaseList.css" type="text/css" rel="Stylesheet" />

    @*fancybox弹出框效果end*@
    <script src="/bootstrap/matrix-admin00/js/jquery.min.js" type="text/javascript"></script>
    <script src="/bootstrap/matrix-admin00/js/jquery.ui.custom.js" type="text/javascript"></script>
    <script src="/bootstrap/matrix-admin00/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/bootstrap/matrix-admin00/js/jquery.uniform.js" type="text/javascript"></script>
    <script src="/bootstrap/matrix-admin00/js/select2.min.js" type="text/javascript"></script>
    <script src="/bootstrap/matrix-admin00/js/matrix.js" type="text/javascript"></script>    
    <script src="/bootstrap/bootstrap-paginator/bootstrap-paginator.js" type="text/javascript"></script> 
    @*fancybox弹出框效果----start*@
    <script src="/Scripts/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.js" type="text/javascript"></script>
    @*fancybox动画效果(可选*@)
    <script src="/Scripts/jquery.fancybox-1.3.4/fancybox/jquery.easing-1.3.pack.js" type="text/javascript"></script>
    @*fancybox鼠标滚轮滚动效果(可选)*@
    <script src="/Scripts/jquery.fancybox-1.3.4/fancybox/jquery.mousewheel-3.0.4.pack.js" type="text/javascript"></script>
    @*fancybox弹出框效果----end*@
    @*loadShow效果start*@
    <script src="/Scripts/jquery.blockUI.1.33/jquery.blockUI-1.33.js" type="text/javascript"></script>
    @*loadShow效果end*@
    <script type="text/javascript" src="/Scripts/jquery.freezeheader-1.5.0/js/jquery.freezeheader.js"></script>
    <script src="/Scripts/jquery.extend.js" type="text/javascript"></script>
    <script src="/Scripts/Common/Common.js" type="text/javascript"></script>
    <script src="/Scripts/OperationMaintenance/CaseList.js" type="text/javascript"></script>
</head>
<body> 
    <input type="hidden" id="hdFxtCityId" value="@ViewBag.FxtCityId" />     
    <input type="hidden" id="hdProjectId" value="@ViewBag.ProjectId" />     
    <input type="hidden" id="hdBuildingTypeCode" value="@ViewBag.BuildingTypeCode" />     
    <input type="hidden" id="hdPurposeCode" value="@ViewBag.PurposeCode" />     
    <input type="hidden" id="hdAreaTypeCode" value="@ViewBag.AreaTypeCode" />   
    <input type="hidden" id="hdDate" value="@ViewBag.Date" />     
    <div class="row-fluid" style="height:95% !important;" id="dataPanel">
        <div class="widget-box" id="tableWindow" style="overflow:auto !important; height:70%;">
            <div style="width:2600px;">  
                @*<table class="table table-bordered data-table" id="tableHeader" style="margin-bottom:0px !important;  display:none; position:absolute; ">
                    <thead>
                        <tr role="row" class="table2">
                            <th><input type="checkbox" value="" title="全选" class="cbSelectAll" /></th>
                            <th  style="width:90px;">操作</th>
                            <th>楼盘*</th>
                            <th>楼栋</th>
                            <th>房号</th>
                            <th>用途*</th>
                            <th>面积*</th>
                            <th>单价*</th>
                            <th>总价*</th>
                            <th>案例类型*</th>
                            <th>结构</th>
                            <th>建筑类型</th>
                            <th>所在层</th>
                            <th>总楼层</th>
                            <th>户型</th>
                            <th>朝向</th>
                            <th>币种</th>
                            <th>案例时间</th>
                            <th>备注</th>
                            <th>来源</th>
                            <th>URL</th>
                            <th>电话</th>
                            <th>行政区</th>
                            <th>建筑年代</th>
                            <th>装修</th>
                            <th>附属房屋</th>
                            <th>配套</th>
                            <th>录入人</th>
                        </tr>
                    </thead>
                </table>*@          
                <table class="table table-bordered data-table" id="tableCase">
                    <thead style="" >
                        <tr role="row" class="table2">
                            <th><input type="checkbox" value="" title="全选" class="cbSelectAll" /></th>
                            <th  style="width:90px;">操作</th>
                            <th>楼盘*</th>
                            <th>楼栋</th>
                            <th>房号</th>
                            <th>用途*</th>
                            <th>面积*</th>
                            <th>单价*</th>
                            <th>总价*</th>
                            <th>案例类型*</th>
                            <th>结构</th>
                            <th>建筑类型</th>
                            <th>所在层</th>
                            <th>总楼层</th>
                            <th>户型</th>
                            <th>朝向</th>
                            <th>币种</th>
                            <th>案例时间</th>
                            <th>备注</th>
                            <th>来源</th>
                            <th>URL</th>
                            <th>电话</th>
                            <th>行政区</th>
                            <th>建筑年代</th>
                            <th>装修</th>
                            <th>附属房屋</th>
                            <th>配套</th>
                            <th>录入人</th>
                        </tr>
                    </thead>
                    <tbody id="caseList" >
                        <tr class="gradeX" id="caseRom" style="display:none;" >
                            <td class="check center"><input type="checkbox" class="sel_check" class="text"  value="" /></td>
                            <td class="option center" style="width:90px;">
                                <input type="button" value="修改" class="btn btn-mini up" data-caseId=""  />
                                <a href="javascript:;" class="btn btn-danger btn-mini text del" data-caseId="">删除</a>
                            </td>
                            <td class="loupan center" data-projectId="">楼盘数据</td>
                            <td class="loudong center">楼栋数据</td>
                            <td class="fanghao center">房号数据</td>
                            <td class="yongtu center" data-code="">用途数据</td>
                            <td class="mianji center">面积数据</td>
                            <td class="danjia center">
                                <span class="_text">单价数据</span>
                                <span>
                                    <input type="text"  class="_text2" data-caseId=""/>
                                    <input type="button" value="修改" class="btn btn-mini updanjia" data-caseId=""  />
                                    <input type="button" value="确定" class="btn btn-mini btn-primary subdanjia" data-caseId=""  />
                                    <input type="button" value="取消" class="btn btn-mini canceldanjia" data-caseId=""  />
                                </span>
                            </td>
                            <td class="zongjia center">总价数据</td>
                            <td class="anlileixing center" data-code="">案例类型数据</td>
                            <td class="jiegou center" data-code="">结构数据</td>
                            <td class="jianzhuleixing center" data-code="">建筑类型数据</td>
                            <td class="suozailouceng center">所在楼层数据</td>
                            <td class="zonglouceng center">总楼层数据</td>
                            <td class="huxing center" data-code="">户型数据</td>
                            <td class="chaoxiang center" data-code="">朝向数据</td>
                            <td class="bizhong center" data-code="">币种数据</td>
                            <td class="anlishijian center">案例时间数据</td>
                            <td class="infoTitle center">备注数据</td>
                            <td class="laiyuan center">来源数据</td>
                            <td class="titleUrl center">URL数据</td>
                            <td class="dianhua center">电话数据</td>
                            <td class="xingzhengqu center" data-areaId="">行政区数据</td>
                            <td class="niandai center">建筑年代数据</td>
                            <td class="zhuangxiu center" data-code="">装修数据</td>
                            <td class="fushu center">附属房屋数据</td>
                            <td class="peitao center">配套数据</td>
                            <td class="ruluren center">录入人数据</td>
                        </tr>
                    </tbody>              
                </table>
            </div>
        </div>
        <div class="widget-box widget-box2 _widget-box" style=" height:7%;" >
            <div class="example_page" style="width:500px; float:left;">
                <div id="example" data-count=""></div>
            </div>
            @*<div  class="right_count">
                共条案例
            </div>*@
        </div>
        <div class="widget-box  widget-box4 _widget-box" style=" height:5%;" >
            <span style="font-weight:bold;">统计:</span>
            | 案例总数:<span id="txtCaseCount"></span> |
            用途:<span id="txtPurpose">@ViewBag.PurposeCodeName</span> |
            面积段:<span id="txtBuildingArea">@ViewBag.AreaTypeCodeName</span> |
            建筑类型:<span id="txtBuildingType">@ViewBag.BuildingTypeName</span> |
            计算日期:<span id="txtDate">@ViewBag.Date</span> |
            计算均价:<span id="txtAvgPrice">@ViewBag.AvgPrice</span> |
            涨跌幅:<span id="txtFloat">@ViewBag.FloatValue</span> |
        </div>
        <div class="widget-box  widget-box3 _widget-box" style=" height:17%;" >
            <span style="font-weight:bold;">操作:</span>
            <input type="button" value="插入案例" id="addCase" class="btn btn-mini btn-primary" />
            <a href="javascript:;" class="btn btn-danger btn-mini text" id="delCase">删除案例</a>
            <input type="button" value="重新计算均价" class="btn btn-mini up"  id="btnResetCross"  />
        </div>
        <div class="widget-box widget-box2 _widget-box" style="display:none;">
            用途:
            <select id="selectPurposeCode">
                <option value="0" selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_SYSCode obj in ViewBag.PurposeCodeList)
                {
                <option value="@obj.Code" class="code_@obj.Code">@obj.CodeName</option>
                }
            </select>
            案例类型:
            <select id="selectCaseTypeCode">
                <option value="0" selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_SYSCode obj in ViewBag.CaseTypeCodeList)
                {
                <option value="@obj.Code" class="code_@obj.Code">@obj.CodeName</option>
                }
            </select>
            结构:
            <select id="selectStructureCode">
                <option value="0" selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_SYSCode obj in ViewBag.StructureCodeList)
                {
                <option value="@obj.Code" class="code_@obj.Code">@obj.CodeName</option>
                }
            </select>
            建筑类型:
            <select id="selectBuildingTypeCode">
                <option value="0" selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_SYSCode obj in ViewBag.BuildingTypeCodeList)
                {
                <option value="@obj.Code" class="code_@obj.Code">@obj.CodeName</option>
                }
            </select>
            户型:
            <select id="selectHouseTypeCode">
                <option value="0" selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_SYSCode obj in ViewBag.HouseTypeCodeList)
                {
                <option value="@obj.Code" class="code_@obj.Code">@obj.CodeName</option>
                }
            </select>
            朝向:
            <select id="selectFrontCode">
                <option value="0" selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_SYSCode obj in ViewBag.FrontCodeList)
                {
                <option value="@obj.Code" class="code_@obj.Code">@obj.CodeName</option>
                }
            </select>
            币种:
            <select id="selectMoneyUnitCode">
                <option value="0" selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_SYSCode obj in ViewBag.MoneyUnitCodeList)
                {
                <option value="@obj.Code" class="code_@obj.Code">@obj.CodeName</option>
                }
            </select>
            装修:
            <select id="selectFitmentCode">
                <option value="0" selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_SYSCode obj in ViewBag.FitmentCodeList)
                {
                <option value="@obj.Code" class="code_@obj.Code">@obj.CodeName</option>
                }
            </select>
            楼盘:
            <select id="selectProject">
                <option value="0" selected="selected">--全部--</option>
                @foreach (FxtSpider.FxtApi.Model.FxtApi_DATProject obj in ViewBag.ProjectList)
                {
                <option value="@obj.ProjectId" class="project_@obj.ProjectId">@obj.ProjectName</option>
                }
            </select>
            行政区:
            <select id="selectArea">
                <option value="0" selected="selected">--全部--</option>
            </select>
        </div>
    </div>
    <input type="hidden" id="hdFxtCompanyIds" value="@ViewBag.FxtCompanyIds" /> 
</body>
</html>
