@{
    ViewBag.Title = "DictationReport";
}
@model CBSS.Tbx.Contract.ViewModel.Rds_UserWordDictationShare
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>单词详情</title>
    <link href="~/Content/css/base.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/DetWord.css" rel="stylesheet" type="text/css">
    <script language="javascript" type="text/javascript" src="~/Content/js/css.js"></script>
    <script language="javascript" type="text/javascript" src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Content/js/DetWord.js"></script>
</head>

<body>
    <header class="head">
        <a href="javascript:void(0)" class="back"><img src="~/Content/img/back.png" alt=""></a>
        @*<a href="javascript:void(0)" class="share"><img src="~/Content/img/share.png" alt=""></a>*@
        <h2>听写单词</h2>
    </header>
    <main class="main">
        <div class="grade">
            <h2><b class="score">@Model.Score</b><span>最优成绩</span></h2>
            <p>完成时间：<span class="time">@Model.DoDate</span></p>
            <ul>
                <li>单词数：<span class="word_all">@Model.WordsCount</span></li>
                <li>正确数：<span class="word_correct">@Model.RightCount</span></li>
            </ul>
        </div>
        <section class="section">
            <p><b class="ranswers">正确答案</b><b class="myanswers">我的答案</b></p>
            <ul>
                @foreach (var word in Model.Words)
                {
                    <li><span class="li_left">@word.Text</span><span class="li_my wrong">@word.Answer</span></li>
                }

                @*<li><span class="li_left">overtime</span><span class="li_my correct">overtime</span></li>
                    <li><span class="li_left">late</span><span class="li_my correct">late</span></li>
                    <li><span class="li_left">project</span><span class="li_my correct">project</span></li>
                    <li><span class="li_left">late</span><span class="li_my correct">late</span></li>
                    <li><span class="li_left">overtime</span><span class="li_my correct">overtime</span></li>
                    <li><span class="li_left">project</span><span class="li_my correct">project</span></li>
                    <li><span class="li_left">late</span><span class="li_my correct">late</span></li>
                    <li><span class="li_left">overtime</span><span class="li_my correct">overtime</span></li>*@
            </ul>
        </section>
    </main>
    @*<footer class="footer">
        <a href="javascript:void(0)">再读一遍</a>
    </footer>*@

</body>
</html>
